@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

*{
    font-size: 12pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: Roboto, sans-serif;
}