@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

* {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: Lato-Regular, Verdana, sans-serif;
    
}



#painel *{
    text-align: end;
}

#interface {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
}

#interface .cabecalho {
    display: block;
    width: 70%;
    margin: 0 auto 2rem auto; /*top, right, bottom, left*/
}

#interface .cabecalho h2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}
/*

#interface main {
    border: 1px solid yellow;
}
    */



#interface table {
    /*border: 1px solid black;*/
    margin: 0 auto;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid black;
    background: #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

#interface table #painel{
    display: block;
    background-color: #919191;
}

#interface table 
#painel #txt_operadores{
    display: block;
}

#interface table
#painel #txt_display{
    width: 100%;
    background-color: transparent;
    border: 0
}

#interface table
#painel #txt_display:focus-visible{
    outline: none;
    background-color: transparent;
}

#interface table button {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}

#interface table button#bt-acce {
    font-size: .8rem;
    font-weight: bold;
    color: red;
}

#interface table button#bt-acce{
    font-size: .8rem;
    font-weight: bold;
    color: #7e0a0a;

}

#interface table #bt-plus,
#interface table #bt-equal{
    height: 102px;
}

